Pillow>=10.1.0  #Pillow 10.1 and greater supports python 3.12
PySide6>=6.0.0 # PySide6 generally has good compatibility
numpy>=1.20.0 # NumPy also generally maintains good compatibility.  
opencv-python>=4.0.0 # OpenCV is generally compatible
pillow-heif>=0.14.0 
